*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    border-bottom-left-radius: 100%;
    width: 70vw;
    height: 80vh;
    position:relative;
}

.slider .item img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.item-slider, .slider .item, .item img{
    height: 100%;
}

.item img{
    width: 100%;
    object-fit: cover;
}

.image-text{
    color: rgb(242, 242, 242);
    position: absolute;
    text-align: right;
    bottom: 40px;
    right: 20px;
    left: 60px;
}

.image-text p{
    color:rgb(255, 255, 255);
    font-size: 18px;
}

.arrow{
    position: absolute;
    width: 40px;
    background-color: rgba(174, 174, 174, 0.509);
    border-radius: 50px;
    font-weight: 800; 
    left: 50%;
    font-size: 30px;
    transform-origin: left;
    transform: rotate(270deg) ;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}

.next{
    top: 30px; 
}

.prev{
    bottom: -10px;
}

.prev:hover, .next:hover{
    background-color: rgba(174, 174, 174, 1);   
}

.circles-container{
    display: flex;
    justify-content: center;
}

.circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(174, 174, 174, 0.509);
    margin: 10px;
    cursor: pointer;
}


.circle.active, .circle:hover{
    background-color: rgba(174, 174, 174, 1); 
}

.preview{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 80vh;
}

.preview .item{
    width: 100%;
    height: calc(100%/5);
}

.preview img{
    filter: brightness(50%);
}

.preview .item:nth-child(3) img{
    border-top-right-radius: 10px;
}

.preview .item:last-child img{
    border-bottom-right-radius: 10px;
}

.preview .item:nth-child(2) img{
    border: 10px solid red;
    border-bottom-right-radius: 10px;
}

.preview .active img{
    border: 2px solid rgb(255, 128, 37);
    filter: brightness(100%);
}

